---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Reticulating Splines Failed",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | Failed to reticulate splines. Page does not exist.</h1>
	<p class="mb-8">Please use the navigation to find your way back.</p>
</PageLayout>
