---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About the author.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Abraham Minus is a pseudonym. A sobriquet. It's not my real name. I choose to use a pen name because I've used the internet before. To put it another way, I don't trust people to do the right thing in this space.</p>
		<p>
		<p>However, if you like to read odd shit. I am here to help you out.</p>
		<p>
		<p>My thoughts come to me at random times like everyone else. They are filtered through my qualities, which make me who I am. I (the real me) am perfectly happy to fade into the background, with no one ever knowing my real name. But I would not be disappointed if people found out. If someone does go through all the trouble and succeeds, good job.</p>
		<p>
		<p>I do not believe in a god. I am not an atheist. That would imply that I believe in something. That isn't it at all. I simply do not care.</p>
		<p>
		<p>I will reveal one biscuit of information about the real me: If you couldn't guess from my writing style, I am American. I speak with American affectations. My friends who are not American often discuss how ridiculous I sound to them. And that is what I find so interesting about living outside of my home country: I notice all the different people that live in the world. Not everyone thinks Americans are normal. Only Americans think Americans are normal.</p>
		<p>
		<p>Regarding what is normal. I believe our obsession with artificial intelligence is unhealthy. First off, I believe AI is not even close to intelligence. It is definitely artificial, that's for sure. But intelligent? It's not even in the ballpark. For a few corporations to tell us that large language models, which are just code and datasets, are actually magic boxes that think, is insulting to me as a human. It's insulting to many of our fellow creatures here on Earth. The dolphins must be pissed.</p>
		<p>
		<p>Seeing where I'm going with this? Fine. If you like to read discursive essays, articles, the odd prose, or even instructions on how to change a bicycle inner tube that are way too long, give it a try.</p>

			Clone or fork this <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like the theme...it isn't mine.
		</p>
	</div>
</PageLayout>
